<div class="tabbar" id="ticket_tabbar">
    <div class="tabcontain">
        <div class="tab">
            <div class="tabtop">
                <div class="tabnom">
                    Tous
                </div>
                <div class="tabnotif">
                    (
                    <div class="output">1234</div> )
                </div>
            </div>
            <div class="tabbas"> </div>
        </div>
        <div class="tab">
            <div class="tabtop">
                <div class="tabnom">
                    Ouvert
                </div>
                <div class="tabnotif">
                    (
                    <div class="output">1234</div> )
                </div>


            </div>
            <div class="tabbas"> </div>
        </div>

        <div class="tab">
            <div class="tabtop">
                <div class="tabnom">
                    Clôturé

                </div>
                <div class="tabnotif">
                    (
                    <div class="output">1234</div> )
                </div>


            </div>
            <div class="tabbas"> </div>
        </div>
    </div>
    <div class="outilcontain">

        <div class="outil filtre">
            <img src="../../../assets/Tiket/filtre_4_contour.png" alt="Filtre">
        </div>
    </div>

</div>






<!-- ticket -->
<div class="ticket carte" id="ticket_listcarte">
    <div class="carteleft">
        <div class="tiketnotif cartenotif">
            <div class="pointe">

            </div>
        </div>
        <div class="tiketiconecontain carteiconecontain">
            <img class="ticketicone carteicone" src="../../../assets/Tiket/in.png" alt="">
            <img class="iconenotif" src="../../../assets/Tiket/encours_travaux_4_glyph.png" alt="">
        </div>
    </div>

    <div class="ticketinfo carteinfo">
        <div class="ticketinfoleft carteinfoleft">
            <div class="contact carteinfoleft_top">
                Cyril Dupont
            </div>
            <div class="operateur carteinfoleft_down">
                <span>Par</span> Camille Fabien
            </div>
        </div>
        <div class="ticketinforight carteinforight">
            <div class="tiketdate carteinforight_top">
                12:25 06/06
            </div>
            <div class="tiketurgence carteinforight-down">
                Urgent
            </div>
        </div>
    </div>
    <div class="outilcontain carteoutil">
        <div class="outil suprimer">
            <img src="../../../assets/Tiket/poubelle_corbeille_supprimer_4_contour.png" alt="">

        </div>
    </div>
</div>











<!-- head -->
<div class="separation"></div>
<div class="ticket carte headcart" id="ticket_headcart">
    <div class="carteleft">
        <div class="tiketnotif cartenotif">
            <div class="pointe">

            </div>
        </div>
        <div class="tiketiconecontain carteiconecontain">
            <img class="ticketicone carteicone" src="../../../assets/Tiket/in.png" alt="">
            <img class="iconenotif" src="../../../assets/Tiket/encours_travaux_4_glyph.png" alt="">
        </div>
    </div>
    <div class="ticketinfo carteinfo">
        <div class="ticketinfoleft carteinfoleft">
            <div class="contact carteinfoleft_top">
                Cyril Dupon tCyril DupontCyril DupontCyril DupontCyril DupontCyril DupontCyril Dupont
            </div>
            <div class="operateur carteinfoleft_down">
                <span>Par</span> Camille Fabien
            </div>
        </div>
        <div class="ticketinforight carteinforight">
            <div class="tiketdate carteinforight_top">
                12:25 06/06
            </div>
            <div class="tiketurgence carteinforight-down">
                Urgent
            </div>
        </div>
    </div>
    <div class="outilcontain carteoutil">
        <div class="outil suprimer">
            <img src="../../../assets/Tiket/cancel_fermer_annuler_4_contour.png" alt="">

        </div>
    </div>
</div>











<!-- cart call  -->
<div class="call carte " id="callhead_cart">
    <div class="carteleft">

        <div class="Callnotif cartenotif">
            <div class="pointe">

            </div>
        </div>
        <div class="calliconecontain carteiconecontain">
            <img class="callicone carteicone" src="../../../assets/Tiket/phone_appelin_4_glyph.png" alt="">
            <img class="iconenotif" src="../../../assets/Tiket/encours_travaux_4_glyph.png" alt="">
        </div>
    </div>

    <div class="callinfo carteinfo">
        <div class="callinfoleft carteinfoleft">
            <div class="contact carteinfoleft_top">
                0614861611
            </div>
            <div class="operateur carteinfoleft_down">
                <span>peut-être</span> Camille Fabien
            </div>
        </div>
        <div class="callinforight carteinforight">
            <div class="calldate carteinforight_top">
                12:25 06/06
            </div>
            <div class="callurgence carteinforight-down">
                00:15:23
            </div>
        </div>
    </div>
    <div class="outilcontain carteoutil">
        <div class="outil suprimer">
            <img src="../../../assets/Tiket/phone_contact_4_glyph.png" alt="">

        </div>
    </div>
</div>











<!-- parti contenu ticket -->
<div class="ticketcontenu" id="">
    <div class="option optionticket">
        <div class="cadreoption">
            <div class="titleselection">
                Destinateur
            </div>
            <select class="optionselection">
                            <option value="feofihghf feoifghj jfe foejfoer jf ">feofihghf feoifghj jfe foejfoer jf</option>
                            <option value="feofihghf feoifghj jfe foejfoer jf ">feofihghf f </option>
                    </select>
        </div>
    </div>
    <div class="textfiled textfiledtiket motification">
        <div class="cadretextfild">
            <div class="titletextfiled">
                Motification
            </div>
            <div class="textareacontain">
                <textarea class="textarea" rows="1" v-model="value" placeholder=""></textarea>
            </div>
        </div>
    </div>
    <div class="textfiled textfiledtiket Commantaire">
        <div class="cadretextfild">
            <div class="titletextfiled ">
                Commantaire
            </div>
            <div class="textareacontain">
                <textarea class="textarea" rows="5" v-model="value" placeholder=""></textarea>
            </div>
        </div>
    </div>
    <div class="buttoncontain">
        <button class=" button" id="annuler">
            <span class="textbutton"> Annuler </span>
        </button>
        <button class="button" id="envoyer">
            <span class="textbutton"> Envoyer </span>
        </button>

    </div>

</div>




<!-- parti textfiled -->

<div class="textfiled" id="">
    <div class="titletextfiled">
        Head
    </div>
    <div class='textarea' contenteditable>

    </div>
</div>

<!-- parti selection -->

<div class="selection " id="">
    <div class="titleselection">
        Code activité à utiliser
    </div>
    <select class="selectionoption">
            <option >
                codeActivite.libelle
            </option>
    </select>
</div>